# API Keys - 替换为你自己的API Key
API_KEY_1=ak_2tf2il7sp1yb4c887T7MK9U71tY1K
API_KEY_2=ak_2LE5Ci53W8TP3MX7lb7AW4as6sF0G
API_KEY_3=ak_2ud5LY5hR99w7Ol9az7jo1jT67S2e

# API配置
API_URL=https://api.longcat.chat/openai/v1/chat/completions
MODEL=LongCat-Flash-Lite

# 服务器端口
PORT=3000
